body {
  background-color: white;
}

.info {
  text-align: center;
  margin: 1% auto;
  width: 65%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: rgb(118, 78, 186);
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  /* display: flex; */
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: rgb(183, 43, 91);
  margin-bottom: 30px;
}

.form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
  margin-right: 7px;
}

.centerThis {
  display: flex;
  margin: 1% auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px white;
  width: 10%;
  background-color: teal;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.dark-mode {
  background-color: black;
  color: white;
}